In [5]:
! pip install psycopg2-binary
! pip install snowflake-connector-python
! pip install mysql-connector-python

Requirement already satisfied: psycopg2-binary in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (2.9.2)
Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.0.4-cp37-cp37m-win_amd64.whl (10.7 MB)
Collecting pyjwt<3.0.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flake8 3.9.0 requires pycodestyle<2.8.0,>=2.7.0, but you have pycodestyle 2.6.0 which is incompatible.
flake8 3.9.0 requires pyflakes<2.4.0,>=2.3.0, but you have pyflakes 2.2.0 which is incompatible.

  Downloading PyJWT-2.8.0-py3-none-any.whl (22 kB)
Collecting sortedcontainers>=2.4.0
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting typing-extensions<5,>=4.3
  Downloading typing_extensions-4.7.1-py3-none-any.whl (33 kB)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (1.4.0)
Requirement already satisfied: pytz in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (2021.1)
Requirement already satisfied: requests<3.0.0 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (2020.12.5)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (1.14.5)
Requirement already satisfied: importlib-metadata in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (4.11.1)
Collecting oscrypto<2.0.0
  Downloading oscrypto-1.3.0-py2.py3-none-any.whl (194 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (2.10)
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Downloading pycryptodomex-3.20.0-cp35-abi3-win_amd64.whl (1.8 MB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.3.2-cp37-cp37m-win_amd64.whl (98 kB)
Requirement already satisfied: packaging in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (20.9)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (20.0.1)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from snowflake-connector-python) (3.4.7)
Collecting filelock<4,>=3.5
  Downloading filelock-3.12.2-py3-none-any.whl (10 kB)
Requirement already satisfied: pycparser in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.20)
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Requirement already satisfied: six>=1.5.2 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from pyOpenSSL<24.0.0,>=16.2.0->snowflake-connector-python) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0->snowflake-connector-python) (4.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->snowflake-connector-python) (3.4.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from packaging->snowflake-connector-python) (2.4.7)
Installing collected packages: typing-extensions, asn1crypto, sortedcontainers, pyjwt, pycryptodomex, oscrypto, filelock, charset-normalizer, snowflake-connector-python
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: asn1crypto
    Found existing installation: asn1crypto 1.4.0
    Uninstalling asn1crypto-1.4.0:
      Successfully uninstalled asn1crypto-1.4.0
  Attempting uninstall: sortedcontainers
    Found existing installation: sortedcontainers 2.3.0
    Uninstalling sortedcontainers-2.3.0:
      Successfully uninstalled sortedcontainers-2.3.0
  Attempting uninstall: filelock
    Found existing installation: filelock 3.0.12
    Uninstalling filelock-3.0.12:
      Successfully uninstalled filelock-3.0.12
Successfully installed asn1crypto-1.5.1 charset-normalizer-3.3.2 filelock-3.12.2 oscrypto-1.3.0 pycryptodomex-3.20.0 pyjwt-2.8.0 snowflake-connector-python-3.0.4 sortedcontainers-2.4.0 typing-extensions-4.7.1
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp37-cp37m-win_amd64.whl (9.6 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\esteg\anaconda3\envs\pythondata\lib\site-packages (from mysql-connector-python) (3.19.4)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [12]:
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [13]:
c = conn.cursor()

In [14]:
for row in c.execute("SELECT * FROM Members"):
    print(row)

(0, 'GUEST', 'GUEST', 'GUEST', 0, '(000) 000-0000', '', '2012-07-01 00:00:00')
(1, 'Smith', 'Darren', '8 Bloomsbury Close, Boston', 4321, '555-555-5555', '', '2012-07-02 12:02:05')
(2, 'Smith', 'Tracy', '8 Bloomsbury Close, New York', 4321, '555-555-5555', '', '2012-07-02 12:08:23')
(3, 'Rownam', 'Tim', '23 Highway Way, Boston', 23423, '(844) 693-0723', '', '2012-07-03 09:32:15')
(4, 'Joplette', 'Janice', '20 Crossing Road, New York', 234, '(833) 942-4710', '1', '2012-07-03 10:25:05')
(5, 'Butters', 'Gerald', '1065 Huntingdon Avenue, Boston', 56754, '(844) 078-4130', '1', '2012-07-09 10:44:09')
(6, 'Tracy', 'Burton', '3 Tunisia Drive, Boston', 45678, '(822) 354-9973', '', '2012-07-15 08:52:55')
(7, 'Dare', 'Nancy', '6 Hunting Lodge Way, Boston', 10383, '(833) 776-4001', '4', '2012-07-25 08:59:12')
(8, 'Boothe', 'Tim', '3 Bloomsbury Close, Reading, 00234', 234, '(811) 433-2547', '3', '2012-07-25 16:02:35')
(9, 'Stibbons', 'Ponder', '5 Dragons Way, Winchester', 87630, '(833) 160-3900', '6', '2012-07-25 17:09:05')
(10, 'Owen', 'Charles', '52 Cheshire Grove, Winchester, 28563', 28563, '(855) 542-5251', '1', '2012-08-03 19:42:37')
(11, 'Jones', 'David', '976 Gnats Close, Reading', 33862, '(844) 536-8036', '4', '2012-08-06 16:32:55')
(12, 'Baker', 'Anne', '55 Powdery Street, Boston', 80743, '844-076-5141', '9', '2012-08-10 14:23:22')
(13, 'Farrell', 'Jemima', '103 Firth Avenue, North Reading', 57392, '(855) 016-0163', '', '2012-08-10 14:28:01')
(14, 'Smith', 'Jack', '252 Binkington Way, Boston', 69302, '(822) 163-3254', '1', '2012-08-10 16:22:05')
(15, 'Bader', 'Florence', '264 Ursula Drive, Westford', 84923, '(833) 499-3527', '9', '2012-08-10 17:52:03')
(16, 'Baker', 'Timothy', '329 James Street, Reading', 58393, '833-941-0824', '13', '2012-08-15 10:34:25')
(17, 'Pinker', 'David', '5 Impreza Road, Boston', 65332, '811 409-6734', '13', '2012-08-16 11:32:47')
(20, 'Genting', 'Matthew', '4 Nunnington Place, Wingfield, Boston', 52365, '(811) 972-1377', '5', '2012-08-19 14:55:55')
(21, 'Mackenzie', 'Anna', '64 Perkington Lane, Reading', 64577, '(822) 661-2898', '1', '2012-08-26 09:32:05')
(22, 'Coplin', 'Joan', '85 Bard Street, Bloomington, Boston', 43533, '(822) 499-2232', '16', '2012-08-29 08:32:41')
(24, 'Sarwin', 'Ramnaresh', '12 Bullington Lane, Boston', 65464, '(822) 413-1470', '15', '2012-09-01 08:44:42')
(26, 'Jones', 'Douglas', '976 Gnats Close, Reading', 11986, '844 536-8036', '11', '2012-09-02 18:43:05')
(27, 'Rumney', 'Henrietta', '3 Burkington Plaza, Boston', 78533, '(822) 989-8876', '20', '2012-09-05 08:42:35')
(28, 'Farrell', 'David', '437 Granite Farm Road, Westford', 43532, '(855) 755-9876', '', '2012-09-15 08:22:05')
(29, 'Worthington-Smyth', 'Henry', '55 Jagbi Way, North Reading', 97676, '(855) 894-3758', '2', '2012-09-17 12:27:15')
(30, 'Purview', 'Millicent', '641 Drudgery Close, Burnington, Boston', 34232, '(855) 941-9786', '2', '2012-09-18 19:04:01')
(33, 'Tupperware', 'Hyacinth', '33 Cheerful Plaza, Drake Road, Westford', 68666, '(822) 665-5327', '', '2012-09-18 19:32:05')
(35, 'Hunt', 'John', '5 Bullington Lane, Boston', 54333, '(899) 720-6978', '30', '2012-09-19 11:32:45')
(36, 'Crumpet', 'Erica', 'Crimson Road, North Reading', 75655, '(811) 732-4816', '2', '2012-09-22 08:36:38')
(37, 'Smith', 'Darren', '3 Funktown, Denzington, Boston', 66796, '(822) 577-3541', '', '2012-09-26 18:08:45')

In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [16]:
q10_query = """SELECT sub.name, SUM( sub.revenue ) AS revenue
FROM (
SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
CASE
WHEN b.memid =0
THEN COUNT( b.facid ) * f.guestcost
ELSE COUNT( b.facid ) * f.membercost
END AS 'revenue'
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
GROUP BY b.facid, b.memid
) AS sub
GROUP BY sub.facid
HAVING revenue <=1000"""

In [17]:
[row for row in c.execute(q10_query)]

[('Badminton Court', 604.5),
 ('Table Tennis', 90),
 ('Snooker Table', 115),
 ('Pool Table', 265)]

In [18]:
q11_query = """SELECT m.surname, m.firstname, m.recommendedby AS recomender_id, r.surname, r.firstname
FROM Members AS m
LEFT JOIN Members AS r ON m.recommendedby = r.memid
WHERE m.recommendedby !=0
ORDER BY r.surname, r.firstname
"""

In [19]:
for row in c.execute(q11_query):
    if row[3] != None:
        print(row)

('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence')
('Coplin', 'Joan', '16', 'Baker', 'Timothy')
('Genting', 'Matthew', '5', 'Butters', 'Gerald')
('Baker', 'Timothy', '13', 'Farrell', 'Jemima')
('Pinker', 'David', '13', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', '20', 'Genting', 'Matthew')
('Jones', 'Douglas', '11', 'Jones', 'David')
('Dare', 'Nancy', '4', 'Joplette', 'Janice')
('Jones', 'David', '4', 'Joplette', 'Janice')
('Hunt', 'John', '30', 'Purview', 'Millicent')
('Boothe', 'Tim', '3', 'Rownam', 'Tim')
('Joplette', 'Janice', '1', 'Smith', 'Darren')
('Butters', 'Gerald', '1', 'Smith', 'Darren')
('Owen', 'Charles', '1', 'Smith', 'Darren')
('Smith', 'Jack', '1', 'Smith', 'Darren')
('Mackenzie', 'Anna', '1', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy')
('Purview', 'Millicent', '2', 'Smith', 'Tracy')
('Crumpet', 'Erica', '2', 'Smith', 'Tracy')
('Baker', 'Anne', '9', 'Stibbons', 'Ponder')
('Bader', 'Florence', '9', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')

In [20]:
q12_query = """SELECT b.facid, COUNT( b.memid ) AS mem_usage, f.name
FROM (
SELECT facid, memid
FROM Bookings
WHERE memid !=0
) AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
GROUP BY b.facid"""

In [21]:
[row for row in c.execute(q12_query)]

[(0, 308, 'Tennis Court 1'),
 (1, 276, 'Tennis Court 2'),
 (2, 344, 'Badminton Court'),
 (3, 385, 'Table Tennis'),
 (4, 421, 'Massage Room 1'),
 (5, 27, 'Massage Room 2'),
 (6, 195, 'Squash Court'),
 (7, 421, 'Snooker Table'),
 (8, 783, 'Pool Table')]

In [22]:
q13_query ="""SELECT b.months, COUNT( b.memid ) AS mem_usage
FROM (
SELECT strftime('%m', starttime ) AS months, memid
FROM Bookings
WHERE memid !=0
) AS b
GROUP BY b.months"""

In [23]:
[row for row in c.execute(q13_query)]

[('07', 480), ('08', 1168), ('09', 1512)]